<div xmlns:th="http://www.thymeleaf.org">

    <h2> Booking Created</h2>

    <p>Hello <b th:text="${name}"></b>,</p>

    <p>Your reservation is valid! </p>

    <ul>
        <li>Booking Ref: <b th:text="${bookingRef}"></b></li>
        <li>Room: <b th:text="${room}"></b></li>
        <li>Check-in: <b th:text="${checkIn}"></b></li>
        <li>Check-out: <b th:text="${checkOut}"></b></li>
        <li>Total Price: <b th:text="${amount}"></b></li>
    </ul>

    <p>
        Please proceed with your payment to confirm your reservation :
        <br/><br/>
        <a th:href="${paymentUrl}"
           style="background:#27ae60;color:white;padding:10px 18px;text-decoration:none;border-radius:5px">
            Pay Now
        </a>
    </p>

    <p>We look forward to welcoming you ❤️</p>

</div>